@{
    ViewBag.Title = "Home Page OnlineBanking";
}

<div class="jumbotron">
    <h1>OnlineBank</h1>
    <h3 class="lead">Welcome in our bank</h3>
   </div>
<div class="jumbotron">
    <h2>Registration information of administrator<br /> for entrance in a bank:</h2>
    <p>Address of e-mail: onlinebank@pol.km</p>
    <p>Password: 12345Abc_</p>
    <p> For displacing of main menu first time to push the button two times</p>
</div>

@Html.Partial("_LoginPartia")         