
@{
    ViewBag.Title = "Money of bank";
}


<br /><br /><br /><br />
<h2 style="text-align:center;color:brown ">Money of bank</h2>
<h4 style="text-align:center;color:blue ">All in a bank @ViewBag.TotMoney euros  </h4>
<div class="alert alert-warning text-center">@Html.ActionLink("To return on a home page", "Index", "Home")</div><br />
