@{
    ViewBag.Title = "TotNumCl";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br /><br /><br />
<h2 style="text-align:center;color:brown " >General amount of clients of bank</h2>
<h4 style="text-align:center;color:blue ">Everything in a bank is kept by  @ViewBag.TotNumCL people money</h4>
<div class="alert alert-warning text-center">@Html.ActionLink("To return on a home page", "Index", "Home")</div><br />